.templates {
    display : none;
}

.name{
   border : yellow 1px solid;
}

.selected {
    border : red 2px groove;
}

.records_div {
    display : none;
}

.active {
    display : block;
}

#rules_crud {
    background-color : grey;
}

.messages {
    position : absolute;
    bottom : 10px;
    height : 3em;
    width : 90%;
    border : green 2px groove;
    border-radius : 1em;
}